<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current ads ({{ads.length}})</h4>
  <div class="card-block">
    <h4>Filters:</h4>
    <div class="form-inline " >
      By name: <input type="text" class="form-control" name="searchString"
           placeholder="Type to search..." [(ngModel)]="searchByName">
      By text: <input type="text" class="form-control" name="searchString"
             placeholder="Type to search..." [(ngModel)]="searchByText">
      By template: <input type="text" class="form-control" name="searchString"
                      placeholder="Type to search..." [(ngModel)]="searchByTemplate">
      By screen: <input type="text" class="form-control" name="searchString"
                          placeholder="Type to search..." [(ngModel)]="searchByScreen">
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
      <tr>
        <th>Name</th>
        <th>Text</th>
        <th>Screens</th>
        <th>Images</th>
        <th>Template</th>
        <th>Duration</th>
        <th>From date</th>
        <th>To date</th>
        <th>Days</th>
        <th>From Time</th>
        <th>To Time</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="ads.length === 0">
      <tr>
        <td colspan="4">There are no ads in the DB. Add a new ad below.</td>
      </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
      <tr *ngFor="let ad of ads |
        filter : 'name' : searchByName |
        filter : 'templateLink' : searchByTemplate |
        filterArray : 'adText' : searchByText |
        filterArray : 'screens' : searchByScreen; let i = index">
        <td>{{ad.name}}</td>
        <td>
          <select>
            <option *ngFor="let text of ad.adText">{{text}}</option>
          </select>
        </td>
        <td>{{ad.screens}}</td>
        <td>{{ad.imageLink}}</td>
        <td>{{ad.templateLink}}</td>
        <td>{{ad.ttl}}</td>
        <td>
          <p *ngFor="let timeFrame of ad.timeFrames">
            {{timeFrame.startDate | date: 'dd/MM/yyyy'}}
          </p>
        </td>
        <td>
          <p *ngFor="let timeFrame of ad.timeFrames">
            {{timeFrame.endDate | date: 'dd/MM/yyyy'}}
          </p>
        </td>
        <td>
          <p *ngFor="let timeFrame of ad.timeFrames">
            <select>
              <option *ngFor="let day of timeFrame.days">{{day}}</option>
            </select>
          </p>
        </td>
        <td>
          <p *ngFor="let timeFrame of ad.timeFrames">
            {{timeFrame.startTime}}
          </p>
        </td>
        <td>
          <p *ngFor="let timeFrame of ad.timeFrames">
            {{timeFrame.endTime }}
          </p>
        </td>
        <td>
          <button class="btn btn-sm btn-warning" (click)="enableEditing(ad)"><i class="fa fa-pencil"></i> Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteAd(ad)"><i class="fa fa-trash"></i> Delete</button>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="isEditing">
      <tr>
        <td colspan="12">
          <form class="form-inline" #form="ngForm" (ngSubmit)="editAd(ad)" style="display:inline">
            <table class="table table-hover" width="100%" >
              <thead>
              <tr>
                <th>
                  <div class="form-inline" [formGroup]="myGroup">
                    Name: <input class="form-control" name="name"
                                 [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="ad.name"
                                 placeholder="Name">
                  </div>
                </th>
                <th>
                  <div class="form-inline" [formGroup]="myGroup" >
                    Text: <input class="form-control"
                                 formControlName="firstName"
                                 placeholder="Text"
                                 step="any"
                                 [(ngModel)]="currentText">

                    <button class="btn-secondary" (click)="addTextToArray()" type="button"> add </button>
                  </div>
                  <div class="form-inline">
                    <select [(ngModel)]="selectedText" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let text of ad.adText" [ngValue]="text">{{text}}</option>
                    </select>
                    <button type="button" (click)="removeTextFromArray()"> delete </button>
                  </div>

                </th>
              </tr>
              <tr>
                <th>
                  <div class="form-inline" [formGroup]="myGroup">
                    Screen: <ss-multiselect-dropdown [options]="screenOptions"
                                                     [(ngModel)]="screenOption"
                                                     [ngModelOptions]="{standalone: true}"
                                                     (ngModelChange)="onChangeScreen($event)"
                  ></ss-multiselect-dropdown>
                  </div>
                </th>
                <th>
                  <div class="form-inline" [formGroup]="myGroup">
                    Images: <ss-multiselect-dropdown [options]="imageOptions"
                                                     [(ngModel)]="imageOption"
                                                     [ngModelOptions]="{standalone: true}"
                                                     (ngModelChange)="onChangeImage($event)"
                  ></ss-multiselect-dropdown>
                  </div>
                </th>
              </tr>
              <tr>
                <th>
                  <div class="form-inline" [formGroup]="myGroup">
                    Templates: <select [(ngModel)]="ad.templateLink"
                                       [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let option of templateOptions"
                            [ngValue]="option">
                      {{option}}
                    </option>
                  </select>
                  </div>
                </th>
                <th>
                  <div class="form-inline">
                    Duration(Seconds.): <input class="form-control" type="number" name="ttl"
                                           [(ngModel)]="ad.ttl"
                                           [ngModelOptions]="{standalone: true}"
                                           placeholder="Duration in Seconds"
                                           step="any" min="1" max="60">
                  </div>
                </th>
              </tr>
              <tr>
                <th>
                  <div class="form-inline">
                    <h2> Time properties:</h2>
                  </div>
                </th>
                <th>
                  <button class="btn btn-primary" type="button" width="10px"
                          (click)="addTimeFrame()">add time</button>
                </th>
              </tr>
              <tr>
                <th>
                  <div class="form-inline">
                    <form #myForm="ngForm" novalidate class="form-inline">
                      <my-date-picker name="mydate" class="datePicker"
                                      [options]="datePickerOptions"
                                      [placeholder]="startDatePlaceHolder"
                                      [selector]="selector"
                                      (dateChanged)="onStartDateChanged($event)"
                      ></my-date-picker>
                    </form>
                  </div>
                </th>
                <th>
                  <div class="form-inline">
                    <form #myForm="ngForm" novalidate class="form-inline">
                      <my-date-picker name="mydate" class="datePicker"
                                      [options]="datePickerOptions"
                                      [placeholder]="endDatePlaceHolder"
                                      [selector]="selector"
                                      (dateChanged)="onEndDateChanged($event)"
                      ></my-date-picker>
                    </form>
                  </div>
                </th>
              </tr>
              <tr>
                <th>
                  <div class="form-inline" [formGroup]="myGroup">
                    Days: <ss-multiselect-dropdown [options]="dayOptions"
                                                   [(ngModel)]="dayOption"
                                                   [ngModelOptions]="{standalone: true}"
                                                   (ngModelChange)="onChangeDay($event)"
                  ></ss-multiselect-dropdown>
                  </div>
                </th>
                <th>
              <tr>
                <th >Start Time:</th>
                <th>
                  <div class="time-picker-label">
                    <input class="form-control time-picker"
                           [ngModelOptions]="{standalone: true}" type="number"
                           name="startTimeHour" [(ngModel)]="startTimeHour"
                           placeholder="Hour" min="0" max="23" required
                           (change)="changeStartTime($event)">
                  </div>
                </th>
                <th>
                  <div class="time-picker-label">
                    <input class="form-control time-picker" [ngModelOptions]="{standalone: true}"
                           type="number" name="startTimeMinute" (change)="changeStartTime($event)"
                           [(ngModel)]="startTimeMinute" placeholder="Min."
                           min="0" max="59" required>
                  </div>
                </th>
              </tr>
              </th>
              </tr>
              <tr>
                <th></th>
                <th>
              <tr>
                <th >End Time:</th>
                <th>
                  <div class="time-picker-label">
                    <input class="form-control time-picker"
                           [ngModelOptions]="{standalone: true}"
                           type="number"
                           name="endTimeHour" (change)="changeEndTime($event)"
                           [(ngModel)]="endTimeHour" placeholder="Hour"
                           min="0" max="23" required>
                  </div>
                </th>
                <th>
                  <div class="time-picker-label">
                    <input class="form-control time-picker" [ngModelOptions]="{standalone: true}"
                           type="number" name="endTimeMinute"
                           [(ngModel)]="endTimeMinute" (change)="changeEndTime($event)"
                           placeholder="Min." min="0" max="59" required>
                  </div>
                </th>
              </tr>
              </th>
              </tr>
              </thead>
            </table>
            <table class="table table-bordered table-striped"
                   *ngIf="ad.timeFrames.length > 0">
              <thead class="thead-default">
              <tr>
                <th>From date</th>
                <th>To date</th>
                <th>Days</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let timeFrame of ad.timeFrames">
                <td>{{timeFrame.startDate}}</td>
                <td>{{timeFrame.endDate}}</td>
                <td>{{timeFrame.days}}</td>
                <td>{{timeFrame.startTime}}</td>
                <td>{{timeFrame.endTime}}</td>
                <td><button type="button" (click)="deleteTime(timeFrame)">delete</button></td>
              </tr>
              </tbody>
            </table>
            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
          </form>
          <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new advertisement</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addAdForm" (ngSubmit)="addAd()" style="text-align:center">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>
          <div class="form-inline">
            Name: <input class="form-control" name="name"
                         formControlName="name" [(ngModel)]="ad.name"
                         placeholder="Name">
          </div>
        </th>
        <th>
          <div class="form-inline" [formGroup]="myGroup" >
            Text: <input class="form-control"
                         formControlName="firstName"
                         placeholder="Text"
                         step="any"
                         [(ngModel)]="currentText">

            <button class="btn-secondary" (click)="addTextToArray()" type="button"> add </button>
          </div>
          <div class="form-inline">
          <select [(ngModel)]="selectedText" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let text of ad.adText" [ngValue]="text">{{text}}</option>
          </select>
            <button type="button" (click)="removeTextFromArray()"> delete </button>
          </div>

        </th>
      </tr>
      <tr>
        <th>
          <div class="form-inline" [formGroup]="myGroup">
            Screen: <ss-multiselect-dropdown [options]="screenOptions"
                                     [(ngModel)]="screenOption"
                                     [ngModelOptions]="{standalone: true}"
                                     (ngModelChange)="onChangeScreen($event)"
            ></ss-multiselect-dropdown>
          </div>
        </th>
        <th>
          <div class="form-inline" [formGroup]="myGroup">
            Images: <ss-multiselect-dropdown [options]="imageOptions"
                                     [(ngModel)]="imageOption"
                                     [ngModelOptions]="{standalone: true}"
                                     (ngModelChange)="onChangeImage($event)"
            ></ss-multiselect-dropdown>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="form-inline" [formGroup]="myGroup">
            Templates: <select [(ngModel)]="ad.templateLink"
                               [ngModelOptions]="{standalone: true}">
            <option *ngFor="let option of templateOptions"
                    [ngValue]="option">
              {{option}}
            </option>
          </select>
          </div>
        </th>
        <th>
          <div class="form-inline">
            Duration(Min.): <input class="form-control" type="number" name="ttl"
                     [(ngModel)]="ad.ttl"
                     [ngModelOptions]="{standalone: true}"
                    placeholder="Duration in min"
                   step="any" min="1" max="60">
          </div>
        </th>
      </tr>
      <tr>
        <th>
        <div class="form-inline">
          <h2> Time properties:</h2>
        </div>
        </th>
        <th>
          <button class="btn btn-primary" type="button" width="10px"
                  (click)="addTimeFrame()">add time</button>
        </th>
      </tr>
      <tr>
        <th>
          <div class="form-inline">
            <form #myForm="ngForm" novalidate class="form-inline">
              <my-date-picker name="mydate" class="datePicker"
                                          [options]="datePickerOptions"
                                          [placeholder]="startDatePlaceHolder"
                                          [selector]="selector"
                                          (dateChanged)="onStartDateChanged($event)"
            ></my-date-picker>
            </form>
          </div>
        </th>
        <th>
          <div class="form-inline">
            <form #myForm="ngForm" novalidate class="form-inline">
              <my-date-picker name="mydate" class="datePicker"
                              [options]="datePickerOptions"
                              [placeholder]="endDatePlaceHolder"
                              [selector]="selector"
                              (dateChanged)="onEndDateChanged($event)"
              ></my-date-picker>
            </form>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div class="form-inline" [formGroup]="myGroup">
            Days: <ss-multiselect-dropdown [options]="dayOptions"
                                                [(ngModel)]="dayOption"
                                                [ngModelOptions]="{standalone: true}"
                                                (ngModelChange)="onChangeDay($event)"
          ></ss-multiselect-dropdown>
          </div>
        </th>
        <th>
          <tr>
           <th >Start Time:</th>
            <th>
                <div class="time-picker-label">
                  <input class="form-control time-picker"
                         [ngModelOptions]="{standalone: true}" type="number"
                         name="startTimeHour" [(ngModel)]="startTimeHour"
                         placeholder="Hour" min="0" max="23" required
                          (change)="changeStartTime($event)">
                </div>
            </th>
            <th>
              <div class="time-picker-label">
                <input class="form-control time-picker" [ngModelOptions]="{standalone: true}"
                       type="number" name="startTimeMinute" (change)="changeStartTime($event)"
                       [(ngModel)]="startTimeMinute" placeholder="Min."
                       min="0" max="59" required>
              </div>
            </th>
          </tr>
        </th>
      </tr>
      <tr>
        <th></th>
        <th>
      <tr>
        <th >End Time:</th>
        <th>
          <div class="time-picker-label">
            <input class="form-control time-picker"
                   [ngModelOptions]="{standalone: true}"
                   type="number"
                   name="endTimeHour" (change)="changeEndTime($event)"
                   [(ngModel)]="endTimeHour" placeholder="Hour"
                   min="0" max="23" required>
          </div>
        </th>
        <th>
          <div class="time-picker-label">
            <input class="form-control time-picker" [ngModelOptions]="{standalone: true}"
                   type="number" name="endTimeMinute"
                   [(ngModel)]="endTimeMinute" (change)="changeEndTime($event)"
                   placeholder="Min." min="0" max="59" required>
          </div>
        </th>
      </tr>
        </th>
      </tr>
      </thead>
    </table>
      <table class="table table-bordered table-striped"
             *ngIf="ad.timeFrames.length > 0">
        <thead class="thead-default">
        <tr>
          <th>From date</th>
          <th>To date</th>
          <th>Days</th>
          <th>From Time</th>
          <th>To Time</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let timeFrame of ad.timeFrames">
          <td>{{timeFrame.startDate}}</td>
          <td>{{timeFrame.endDate}}</td>
          <td>{{timeFrame.days}}</td>
          <td>{{timeFrame.startTime}}</td>
          <td>{{timeFrame.endTime}}</td>
          <td><button type="button" (click)="deleteTime(timeFrame)">delete</button></td>
        </tr>
        </tbody>
      </table>

      <button class="btn btn-primary" type="submit" [disabled]="!addAdForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
<canvas id="myCanvas" width="200" height="100" style="border:1px solid #d3d3d3;">
  Your browser does not support the HTML5 canvas tag.</canvas>
